html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: rgb(162, 162, 162);
}

#start-btn {
    display: block;
    height: 40px;
    width: 100px;
}

#again-btn {
    display: none;
    height: 40px;
    width: 100px;
    z-index: 2;
}

.game-area {
    display: none;


    #turn-cont {
        display: none;
    }

    #gameboard {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
    
        gap: 4px;
        
        margin: auto;
        height: max-content;
        width: max-content;
        background-color: black;
    
        .box {
            display: flex;
            background-color: white;
            height: 100%;
            width: 100%;
            align-items: center;
            justify-content: center;
        }
    }
    
    #scores {
        display: flex;
    
    }
    
}

#player-wins {
    display: none;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
}